<h1>Welcome <%= @user.username %> </h1>
<h3>My Public Goals</h3>
<ul>
  <% @goals.each do |goal| %>
    <% if goal.goal_type == "Public" %>
      <li><%= goal.title %>  "<%= goal.goal_type %>"</li>
        <ul>
          <li><%= link_to "comment", goal_url(goal) %></li>
          <li><%= link_to "edit", edit_goal_url(goal) unless current_user != goal.user %></li>
          <li><%= button_to "delete", goal_url(goal), method: :delete unless current_user != goal.user %> </li>
        </ul>
    <% end %>
  <% end %>
</ul>
<br>
<h3>My Private Goals</h3>
<ul>
  <% @goals.each do |goal| %>
    <% if goal.goal_type == "Private" %>
      <li><%= goal.title %>  "<%= goal.goal_type %>"</li>
        <ul>
          <li><%= link_to "comment", goal_url(goal) %></li>
          <li><%= link_to "edit", edit_goal_url(goal) unless current_user != goal.user %></li>
          <li><%= button_to "delete", goal_url(goal), method: :delete unless current_user != goal.user %> </li>
        </ul>
    <% end %>
  <% end %>
</ul>
<br>
<h3>Create New Goal</h3>
<form action="<%= goals_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="Goal">Goal</label>
  <input type="text" name="goal[title]" value="" id="Goal">
  <br>
  <input type="radio"
        name="goal[goal_type]"
        value="Public"
        id="Public">
        <label for="Public">Public</label>
  <input type="radio"
         name="goal[goal_type]"
         value="Private"
         id="Private">
  <label for="Private">Private</label>
  <br>
  <input type="submit" value="Create a Goal">
</form>
<br>
<%= link_to "All Public Goals", goals_url %>
<br>
